/* HERO */

.hero-section {
  width: 100%;
  margin-top: 2rem;
  height: 320px;
}

.large-img {
  height: 65%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("./../../../assets/images/hero/laptop-sm.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px #196712;
}

.small-images {
  width: 100%;
  height: 35%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.small-img {
  width: 25%;
  margin: 0.1rem 0.3rem;
  height: 100%;
}

#small-img-1 {
  background: url("./../../../assets/images/hero/powerball-sm.jpg");
  background-size: cover;
  background-position: center;
}
#small-img-2 {
  background: url("./../../../assets/images/hero/robot-sm.jpg");
  background-size: cover;
  background-position: center;
}

#small-img-3 {
  background: url("./../../../assets/images/hero/computers-sm.jpg");
  background-size: cover;
  background-position: center;
}

#small-img-4 {
  background: url("./../../../assets/images/hero/welding-sm.jpg");
  background-size: cover;
  background-position: center;
}
/* HERO - END*/
/* Tablet/Laptop Version 550*/
@media only screen and (min-width: 550px) {
  .hero-section {
    display: none;
  }
}
