.blog-details-container {
  display: flex;
  flex-direction: column;
}

.blog-side-container {
  display: none;
}

.main-img {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 1rem auto;
}

.main-img img {
  width: 100%;
  height: 100%;
}

.content {
  padding: 1rem;
  line-height: 1.3rem;
  letter-spacing: 0.6px;
}

@media only screen and (min-width: 550px) {
  .blog-details-wrapper {
    display: flex;
    width: 100%;
  }

  .content {
    padding: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.6px;
  }
}

@media only screen and (min-width: 950px) {
  .main-img {
    height: 50%;
    width: 50%;
    position: relative;
    margin: 1rem auto;
  }

  .main-img img {
    width: 100%;
    height: 100%;
  }

  .blog-details-container {
    width: 70%;
  }
  .blog-side-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
  }
}
